.game {
    width: 100%;
    height: 100%;

    background-color: antiquewhite;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    padding: var(--wrapper-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-windows {
    min-height: var(--windows-height);
    display: flex;
    gap: var(--windows-width-gap);
    justify-content: space-between;    
}

.sides {
    flex: 1;
    padding: var(--windows-padding);

    border: 2px solid red;
    background-color: brown;
}

.table {
    flex: 3;
    padding: var(--windows-padding);
    display: flex;
    gap: var(--windows-padding);
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid red;
    background-color: brown;
}

.event {
    flex: 1;
    min-height: var(--event-height);
    display: flex;
    justify-content: space-between;
}

.event-name {
    width: var(--event-name-width);

    border: 2px solid red;
    background-color: rgb(255, 139, 7);
}

.event-num {
    width: var(--event-num-width);
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-nums {
    background-color: rgb(255, 139, 7);
}

.played-out-cards {
    flex: 2;
    min-height: var(--played-out-cards-height);
    display: flex;
    justify-content: space-between;
    padding: var(--windows-padding);

    background-color: rgb(255, 139, 7);
}

.place-for-card {
    width: calc(var(--card-width)*0.7);
    height: calc(var(--card-height)*0.7);

    background-color: rgb(255, 85, 7);
}

.played-out-cards .card{
    width: calc(var(--card-width)*0.7);
    height: calc(var(--card-height)*0.7);
}

.player {
    height: var(--player-height);
    display: flex;
    justify-content: space-between;
}

.menu {
    width: var(--menu-width);

    border: 2px solid red;
    background-color: brown;
}

.hand {
    width: var(--hand-width);
    padding: var(--windows-padding);
    display: flex;
    justify-content: space-between;

    border: 2px solid red;
    background-color: brown;
}

.resources {
    width: var(--resourses-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resourse-item {
    width: var(--resourses-width);
    height: var(--resourses-width);

    background-color: rgb(255, 139, 7);
}

.cards-in-hand {
    width: var(--cards-in-hand-width);

    border: 2px solid red;
    background-color: rgb(255, 139, 7);
}